.btn-products {
    color:white;
    background-color: rgba(225,0,150, 0.8);
    border-color: white;
}

.btn-products:hover,
.btn-products:focus,
.btn-products:active {
  color: #34aadc;
  background: transparent;
  border-color: #34aadc;
}
.btn-products:active {
  background-image: none;
}
