{{ $baseurl := .Site.BaseURL }}
{{ range where .Data.Pages "Type"  "Products" }}
<div id="{{ .Type }}" class="point">
  <div class="container">
    <div class="row">
      <h1 class="h1 text-center">{{ .Title }}</h1>
    </div>
    <div class="row">
      <div class="col-md-4 text-center"><h2>{{ .Params.title1 }}</h2></i></div>
      <div class="col-md-4 text-center"><h2>{{ .Params.title2 }}</h2></i></div>
      <div class="col-md-4 text-center"><h2>{{ .Params.title3 }}</h2></i></div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center"><i class="fa {{ .Params.icon1 }} fa-5x" aria-hidden="true"></i></div>
      <div class="col-md-4 text-center"><i class="fa {{ .Params.icon2 }} fa-5x" aria-hidden="true"></i></div>
      <div class="col-md-4 text-center"><i class="fa {{ .Params.icon3 }} fa-5x" aria-hidden="true"></i></div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4 text-center">
        <div class="lead">
          {{ .Params.content1 }}
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="lead">
          {{ .Params.content2 }}
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="lead">
          {{ .Params.content3 }}
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
