{{ partial "header.html" . }}

    <div id="main">
        <!-- Intro -->
        {{ partial "home.html" .}}
        <!-- /Intro -->

        <!-- Point -->
        {{ partial "products.html" .}}

        <!-- /Point -->

        <!-- Point -->
        {{ partial "approach.html" .}}

        <!-- /Point -->

        <!-- Point -->
        {{ partial "customers.html" .}}

        <!-- /Point -->
        {{ partial "team.html" . }}
        <!-- /Point -->

        <!-- Point -->
        {{ partial "contact.html" . }}

        <!-- /Point -->

        <!-- Point -->
        {{ partial "blog.html" .}}
        <!-- /Point -->

{{ partial "footer.html" . }}
